{% extends "layout.html" %}
{% block body %}

    <form action="{{ get_articles() }}" method=post class=get-articles>
      <dl>
        <dt>Source:
        <dd><input type=text size=30 name=source>
        <dt>Author:
        <dd><input type=text size=30 name=author>
        <!-- TODO: List of categories -->
        <dt>Category:
        <dd><input type=text size=30 name=category>
        <dd><input type=submit value=grab>
      </dl>
    </form>
  <ul class=entries>
    <!-- this  should only be called on payment -->
    {% print('hi there') %}
  </ul>
{% endblock %}
